@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(157, 59%, 51%);
  /* ### Accent */
  --blue: hsl(248, 32%, 49%);
  /* ### Neutral */
  --darkBlue: hsl(249, 10%, 26%); 
  --grayishBlue: hsl(246, 25%, 77%);
  --grayBackground: #ebebeb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--grayBackground);
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  min-height: 100vh;
}
/* Styles Header */
header {
  align-items: center;
  background-color: var(--red);
  box-shadow: 0px 8px 29px -1px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-around;
  left: 0;
  max-height: 100px;
  position: fixed;
  padding: 20px 90px;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px -8px 29px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -8px 29px -1px rgba(0,0,0,0.75)
}
.logo {
  position: relative;
  width: 25%;
}
.title {
  color: white;
  display: inline;
  position: absolute;
  margin-left: 15px;
  top: 5%;
}
.input {
  border-radius: 35px;
  height: 50px;
  overflow: hidden;
  width: 50%;
}
.search_input {
  background-color: white;
  border: none;
  border-right: 1px solid var(--grayBackground);
  border-radius: 35px 0 0 35px;
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  margin-left: 45px;
  padding: 15px;
  width: 70%;
}
.search_logo {
  background-color: white;
  background-image: url(./assets/img/search_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;
  border-radius: 0 35px 35px 0;
  color: transparent;
  height: 51px;
  width: 10%;
}
.search_logo:hover {
  cursor: pointer;
}
.btn-container {
  height: 50px;
  padding: 3px;
  width: 25%;
}
.btn {
  border: none;
  border-radius: 35px;
  font-weight: 400;
  margin: 0 10px;
  padding: 15px;
  text-align: center;
  width: 35%;
}
.btn:hover {
  background-color: var(--darkBlue);
  cursor: pointer;
  opacity: 0.9;
}
.btn-login {
  background-color: var(--blue);
  color: white;
  width: 38%;
}
.btn-register {
  background-color: var(--green);
  color: white;
}
.logout {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.user-login {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.title-logout {
  color: white;
  font-size: 1.2rem;
}
.user-logo {
  width: 45px;
}
.btn-logout {
  background-color: var(--green);
  color: white;
}
/* Finish styles header */
/* Home Styles */
.grid-container {
  display: grid;
  gap: 20px;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 100px auto 0;
  padding: 0 100px;
  scroll-snap-type: y mandatory;
  width: 90%;
}
.card-container {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  min-height: 350px;
}
a {
  text-decoration: none;
}
.card-image img {
  display: block;
  height: 250px;
  margin: 5px auto;
  width: 250px;
}
hr {
  border: none;
  border-top: 2px solid var(--grayBackground);
}
.card-content {
  padding: 15px 20px 20px;
}
.card-content h2 {
  color: var(--red);
  font-size: 1rem;
}
.card-container p {
  color: var(--darkBlue);
}
/* Details Styles */
.details {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  margin: 140px auto 0;
  width: 70%;
}
.details-image {
  padding: 15px;
  text-align: center;
  width: 50%;
}
.details-image img {
  height: 450px;
  margin: 0 auto;
  width: 100%;
}
.details-content {
  display: flex;
  flex-flow: column;
  height: 450px;
  justify-content: space-between;
  padding: 20px 50px;
  position: relative;
  width: 50%;
}
.details-content h1 {
  color: var(--darkBlue);
  font-size: 2rem;
}
.details-content h2 {
  color: var(--blue);
  font-size: 1.5rem;
}
.details-content p {
  font-size: 1rem;
  line-height: 30px;
}
.details-content strong {
  color: var(--green);
  font-size: 1.5rem;
  position: absolute;
  right: 20%;
  top: 68%;
}
.details-content button {
  background-color: var(--red);
  border: none;
  border-radius: 35px;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
  width: 100%;
}
/* SignUp Styles */
.backgroundImage{
  background-image: url('../src/assets/img/bg.png');
  background-color: var(--red);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px;
  min-height: 100vh;
}
.login-container {
  margin: 0 auto;
  padding-left: 15px;
  width: 30%;
}
.title-form {
  background-color: var(--blue);
  border-radius: 10px;
  box-shadow: 0 10px 5px 0px rgba(0,0,0,0.5);
  color: white;
  font-weight: 600;
  margin: 0 auto 20px;
  padding: 18px;
  text-align: center;
}
.form_container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 5px 0px rgba(0,0,0,0.2);
  padding: 40px;
  width: 100%;
}
.form_container label {
  color: var(--grayishBlue);
}
.input-login, .btn_claim{
  border: 1px solid var(--grayishBlue);
  border-radius: 5px;
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 18px;
  position: relative;
  width: 100%;
}
.input_item:focus {
  border: 1px solid var(--darkBlue);
  font-weight: 700;
  outline: none;
}
.btn_claim {
  background-color: var(--green);
  border: none;
  box-shadow: 0 2px 0 0px rgba(0,0,0,0.5);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn_claim:hover {
  cursor: pointer;
  opacity: 0.7;
}
.form-register {
  width: 40%;
}
.mrg {
  padding-top: 20px;
}