@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
body{
    background-color: #FFF080;
    font-family: 'Smooch Sans', sans-serif;
}
nav{    
    align-items: center;
    background: fixed #7080FF;
    border: 3px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    padding: 10px;
}
nav h1 {
    margin: 0;
}
nav a{
    background: #f5d907;
    padding: auto;
    border: 3px solid transparent;
    margin: 3px 5px; 
    border-radius: 5px;
    outline: 2px solid black;
    color: black;
    text-decoration: none;
}
h2{
    background-color: #7080FF;
}
section#productos{
    text-align: center;
    /* align-items: center;
    display: flex;
    flex-direction: column; */
}
.productos #content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.productos #content div{
    align-items: center;
    border: 2px solid ;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    display: flex;
    flex-flow: column nowrap;
    height: 300px;
    justify-content: center;
    padding: 0;
    margin: 0 0 1em 1em;
    text-align: center;
    width: 30%;
}
.productos img{
    width: 100px;
}
.productos #content div .src{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 50%;
    justify-content: center;
    width: 100%;
}
.productos #content div .src p{
    text-align: justify;
}
.productos #content div .btn {
    height: 50%;
    width: 100%;
}