@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
body{
    background-color: #FFF080;
    font-family: 'Smooch Sans', sans-serif;
}
nav{
    background: fixed #7080FF;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 5px;
}
nav a{
    display: flexbox;
    background: #f5d907;
    padding: auto;
    border: 3px solid transparent;
    margin: 3px;
    border-radius: 5px;
    outline: 2px solid black;
    color: black;
    text-decoration: none;
}
h2{
    background-color: #7080FF;
}
#productos section{
    flex-direction: row;
    align-items: center;
}
.productos div{
    width: 30%;
    height: 0%;
    padding: 0%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px black;
    margin: 0 0 1em 1em;
}
.productos img{
    width: 100px;
}