* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Styles Header CSS*/
header {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 3px 0 black;
    display: flex;
    height: 80px;
    max-height: 80px;
    position: fixed;
    width: 100%;
}
header div.inc{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 4px 16px 4px 16px;
}
header div.inc div.sec {
    align-items: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 5px;
    text-align: center;
    width: 100%;
}
header div div > section {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    color: black;
    display: flex;
    height: 48px;
}
header div div section #notifications, #message, #profile-img, #img {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 48px;
}
header div div section a.texto{
    background-color: black;
    border: 1px solid black;
    border-radius: 24px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 11px 0 11px 0;
    text-align: center;
    text-decoration: none;
    width: 37%;
}
    /* header div div section a:hover {
        background-color: gray;
        opacity: 0.3;
    } */
header div div .search{
    background-color: rgb(199, 197, 197);
    border-radius: 24px;
    padding-left: 16px;
}
header div div .search div {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 3%;
}
header div div .search .finder {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    height: 100%;
    width: 97%;
}
header div div section.container_right > a {
    align-items: center;
    height: 100%;
    width: 48px;
}
/* STYLES CSS MAIN */
main {
    box-sizing: border-box;
    padding: 50px 2% 0 2%;
    width: 100%;
}
main .contenedor {
    box-sizing: border-box;
    column-count: 4;
    column-gap: 10px; 
    max-width: 1080px;
    margin: 1rem auto;
    padding: 0 20px 0 20px;
    height: auto;
    width: 100%;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
}
main .contenedor .card-image {
    padding:1rem;
    box-sizing: border-box;
    margin: auto;
    width: 250px;
}
main .contenedor img.main {
    border-radius: 16px;
    height: 100%;
    width: 100%;
}
main .contenedor .card-image .account {
    display: flex;
    padding: 0 4px 0 0;
}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 950px) {
    main .contenedor {
        columns: 3;
    }
    header div div section a.texto {
        border-radius: 18px;
        font-size: 12px;
        height: 20px;
        padding: 5px 0 5px 0;
    }
}
@media (max-width: 767px) { 
    main .contenedor {
        columns:2;
    }
    header div div section a.texto {
        border-radius: 18px;
        font-size: 12px;
        height: 20px;
        padding: 5px 0 5px 0;
    }
}

/* Móviles en vertical */

@media (max-width: 480px) {
    main .contenedor {
        columns: 1;
    }
    header div div .search .finder {
        width: 50px;
    }
}