@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;700&display=swap');
:root {
  --blue: hsl(223, 87%, 63%);
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --veryDarkBlue: hsl(209, 33%, 12%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  background-color: var(--paleBlue);
  display: flex;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  justify-content: center;
  min-height: 100vh;
}
.main_container {
  width: 30%;
}
form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
  padding: 50px;
}
form label {
  color: var(--veryDarkBlue);
}
form input {
  border: 1px solid var(--gray);
  border-radius: 35px;
  font-size: 20px;
  padding: 15px;
}
form input[type="submit"] {
  background-color: var(--blue);
  border: none;
  color: white;
}
form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
}
.message {
  background-color: white;
  border-radius: 10px;
  padding: 30px 0 20px;
}
.message h2 {
  color: var(--blue);
  font-size: 1rem;
  text-align: center;
}
.message button {
  background-color: var(--lightRed);
  border: none;
  border-radius: 35px;
  color: white;
  display: block;
  font-size: 0.9rem;
  margin: 5px auto;
  padding: 15px;
  width: 30%;
  box-shadow: 10px 10px 30px -16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 30px -16px rgba(0,0,0,0.75);
}
.massage button:hover {
  cursor: pointer;
  opacity: 0.8;
}